// COLORS
$color-primary: #d00000;
$color-primary-dark: #9d0208;
$color-primary-light: #dc2f02;

$color-secondary-dark: #370617;
$color-secondary-light: #6a040f;

$color-tertiary: #faa307;
$color-tertiary-dark: #f48c06;
$color-tertiary-light: #ffba08;

$color-pink-light: #ffbbbb;
$color-pink-dark: #d78d94;

$color-orange: #e85d04;
$color-dark-slate-blue: #426786;
$color-grass: #97a12f;

$color-dark-blue: #232434;
$color-blue: rgb(219, 216, 10);

$color-yellow: #f6ba57;

$color-white: #fff;
$color-black: #03071e;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

// FONTS
$default-font-size: 1.6rem;

// HEIGHTS
$navbar-height: 7rem !important;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 4rem;
