.header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(
      rgba($color-black, 0.3),
      rgba($color-primary, 0.3)
    ),
    url('../img/main/hero.jpeg');
  background-size: cover;
  background-position: center;

  &__text-box {
    display: block;
    width: fit-content;
    text-align: center;
    @include center-align;

    @include respond(tab-port) {
      width: 80%;
    }

    @include respond(phone400) {
      background-image: linear-gradient(
          rgba($color-black, 0.3),
          rgba($color-primary, 0.3)
        ),
        url('../img/main/hero-medium.jpeg');
    }
  }
}
