.footer {
  text-align: center;
  width: 100%;
  height: 100%;

  &__top {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid $color-white;
    @include respond(phone) {
      justify-content: space-around;
    }
  }

  &__bottom {
    width: 100%;
    padding-top: 3rem;
  }

  &__logo {
    height: 22rem;
    transform: translateY(9rem);
    @include respond(phone) {
      height: 15rem;
      transform: translateY(15.5rem);
    }

    @include respond(phone400) {
      height: 12rem;
      transform: translateY(18rem);
    }
  }

  &__icon {
    &--left {
      margin-left: 1rem;
    }

    &--right {
      margin-right: 1rem;
    }
  }

  &__banner-container {
    height: 100%;
    margin-right: 30rem;

    @include respond(phone) {
      margin-right: 0rem;
    }
  }

  &__banner {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 2px;
    font-weight: 700;
    width: 18rem;
    opacity: 1;

    &--left {
      padding: 1rem 1.5rem 1rem 3rem;
      clip-path: polygon(0% 50%, 15% 0, 100% 0, 100% 100%, 15% 100%);
      text-align: right;
      background-color: $color-yellow;
      color: $color-dark-blue;
      border-right: 5px solid $color-white;
    }

    &--right {
      padding: 1rem 3rem 1rem 1.5rem;
      clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
      text-align: left;
      transform: translateX(97.5%);
      background-color: $color-grass;
      color: $color-white;
      border-left: 5px solid $color-white;

      @include respond(phone) {
        transform: translateX(0rem);
        padding: 1rem 1.5rem 1rem 3rem;
        clip-path: polygon(0% 50%, 15% 0, 100% 0, 100% 100%, 15% 100%);
        text-align: right;
        border-right: 5px solid $color-white;
        border-left: 0;
      }
    }
  }

  &__content--middle {
    display: flex;
    justify-content: center;
  }

  &__social-container {
    &:not(:last-child) {
      margin-right: 2rem;

      @include respond(tab-port) {
        margin-right: 4rem;
      }

      @include respond(phone) {
        margin-right: 2rem;
      }
    }
  }

  &__social {
    font-size: 4rem;
    color: #0077b5;

    @include respond(tab-port) {
      font-size: 5rem;
    }

    @include respond(phone) {
      font-size: 5rem;
    }
  }
}

.nbsp {
  background-color: transparent;
}
